.vc-title {
    font-weight: bold;
    font-size: 15px;
    text-anchor: middle;
}

.vc-chart {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.vc-oy-value {
    text-anchor: end;
}

.vc-ox-label {
    text-anchor: middle;
}

.vc-white-mask {
    fill: white;
}

.vc-value-name,
.vc-key-name{
    text-anchor: end;
}