.vc-title {
    font-weight: bold;
    font-size: 1.125em;
    text-anchor: middle;
}

.vc-chart {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    --vc-require-width: 100px;
    --vc-require-height: 200px;
    min-width: var(--vc-require-width);
    min-height: var(--vc-require-height);
}

.vc-simple-ox {
    stroke-width: 1;
}

.vc-oy-value {
    text-anchor: end;
}

.vc-ox-label {
    text-anchor: middle;
}

.vc-white-mask {
    fill: white;
}

.vc-value-name,
.vc-key-name {
    text-anchor: end;
    font-style: italic;
}

.vc-note {
    cursor: default;
}

.vc-note:hover text {
    fill: rgb(130, 135, 180);
}

.vc-value-text {
    text-anchor: middle;
    fill: currentColor;
}

.vc-grid {
    fill: none;
    stroke: #ddd;
    pointer-events: none;
}