.mapping-chart{
    border: solid 1px gray;
    background-color: aliceblue;
}

.mapping-chart-map-line-hitbox.vchart-hitbox{
    stroke-width: 8;
    stroke: transparent;
    cursor: pointer;
}

.mapping-chart-range-text{
    stroke: none;
    fill: blue;
    font-size: 14px;
}

.mapping-chart-range-plot{
    fill:none;
    stroke: black;
    stroke-width: 2px;
}

.mapping-chart-line-plot{
    fill:green;
    stroke: red;
    stroke-width: 0.54;
    cursor: pointer;
}

.mapping-chart-title{
    font-size: 20px;
    fill: black;
    stroke: none;
}

.mapping-chart-range-line{
    stroke: black;
    stroke-width: 2px;
}

.mapping-chart-marker{
    font-size: 14px;
    /* cursor: pointer; */
}

.mapping-chart-marker:hover .mapping-chart-marker-box{
    /* fill: rgba(17, 230, 88, 0.788); */
}

.mapping-chart-marker-box{
    /* fill: rgba(17, 187, 230, 0.788); */
    fill: none;
    stroke: none;
}



svg:not(.mapping-chart-hover-bot) .mapping-chart-marker.bot{
    visibility: hidden;
}

.mapping-chart-marker.bot:hover .mapping-chart-marker-box,
.mapping-chart-marker.top:hover .mapping-chart-marker-box
{
    /* fill: rgba(17, 187, 230, 0.788); */
}

svg:not(.mapping-chart-hover-top)  .mapping-chart-marker.top{
    visibility: hidden;
}

.mapping-chart-map-line{
    stroke: black;
    stroke-width: 2;
}

.mapping-chart-map-line.selected-line{
    stroke: red;
}