.vchart-vscrollbar-bar{
    fill: rgba(0, 0, 0, 0.07); 
}

.vchart-vscrollbar-button{
    fill:rgba(0, 0, 0, 0.1); ;
}


.vchart-segment-line,
.vchart-axis,
.vchart-line-arrow {
    stroke-width: 1;
    stroke: rgb(68, 114, 196);
    fill: rgb(68, 114, 196);
}

.vchart-scroll-arrow {
    touch-action: none;
    user-select: none;
    opacity: 0.2;
}

.vchart-scroll-arrow:hover {
    opacity: 0.6;
}
