.vc-range-chart {
    /*background-color: rgb(200, 200, 200)!important;*/
    border: 1px solid black;
    box-sizing: border-box;
}

.base-chart,
.range-chart {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Cheat if in bsc*/

table .base-chart-title {
    font-size: 15px;
}


.range-chart:not(:hover) .vchart-vscrollbar {
    display: none;
}

.base-chart-title {
    font-size: 15px;
    font-weight: bold;
}

.base-chart-oxy-text {
    font-style: italic;
    fill: rgb(70, 70, 70);
    stroke: none;
}

.range-chart-value-plot {
    fill: #f7941d;
    stroke: none;
}

.range-chart-limit-line {
    stroke-width: 4;
    fill: none;
}

.range-chart-range-line {
    stroke-width: 1;
    fill: none;
    stroke: black;
}

.range-chart-limit-line.max {
    stroke: #2C82FF;
}

.range-chart-limit-line.mid {
    stroke: #58EBF4;
}

.range-chart-limit-line.min {
    stroke: #ED1C24;
}

.range-chart:not(.show-inline-value) .range-chart-inline-value {
    display: none;
}

/* .show-inline-value .range-chart-note, */

.show-inline-value .range-char-note-value {
    display: none;
}

.vc-range-chart-label-full,
.vc-range-chart-label-line,
.vc-range-chart-label {
    text-anchor: middle;
}

.vc-range-chart.vc-ox-label-wrap .vc-range-chart-label-full,
.vc-range-chart:not(.vc-ox-label-wrap) .vc-range-chart-label-line {
    display: none;
}

.vc-ox-value-ctn {
    text-anchor: end;
}