
.range-group-chart-limit-line {
    stroke-width: 5;
    fill: none;
}

.range-group-chart-limit-line.max {
    stroke: rgb(230, 22, 16);
}

.range-group-chart-limit-line.min {
    stroke: rgb(20, 100, 246);
}

.range-group-chart-limit-line.normal {
    stroke: rgb(255, 218, 216);
}

.range-group-chart-plot {
    fill: rgb(145, 228, 251);
    stroke-width: 1;
    stroke: hsla(0, 90%, 48%, 0.685);
}

.range-group-chart-range-line {
    stroke-width: 1;
    fill: none;
    stroke: black;
}