
.rank-chart-plot {
    stroke: black;
    stroke-width: 1;
}

.rank-chart-plot-text{
    cursor: default;
}

.rank-chart-position-rect,
.vc-rank-position-list-rect {
    stroke: none;
    fill: rgba(0, 247, 255, 0.139);
}