.correlation-chart-plot {
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 1;
}

.correlation-chart-line {
    fill: none;
    stroke-width: 3;
}

.correlation-chart-normal-line {
    fill: none;
    stroke-width: 1;
}

.correlation-chart-plot.static {
    fill: rgba(85, 141, 218, 1);
}

.correlation-chart-line.static {
    stroke: rgba(85, 141, 218, 0.7);
}

.correlation-chart-normal-line.static {
    stroke: rgba(85, 141, 218, 0.5);
}

.correlation-chart-plot.dynamic {
    fill: rgba(255, 0, 0, 1);
}

.correlation-chart-line.dynamic {
    stroke: rgba(255, 0, 0, 0.7);
}

.correlation-chart-normal-line.dynamic {
    stroke: rgba(255, 0, 0, 0.7);
}