.vc-tiny-circle-blank {
    fill: rgb(168, 168, 168);
    stroke-width: 2;
    stroke: white;
    fill-rule: evenodd;
}

.vc-chart.vc-tiny-circle-chart {
    min-width: 250px;
    min-height: 100px;
}

.vc-arc {
    stroke: white;
    stroke-width: 1;
}